# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UnrealCode_MyTest.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UE4Demo\UnrealCode_MyTest\.idea\.idea.UnrealCode_MyTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
